!!!
%html
%head
  %title Dreamt In
  %script{ type: "text/javascript", src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyCrDCbLiu0Vb8_UNo2pH6OQ64SSN39XWCA"}
  = stylesheet_link_tag    'application'
  = javascript_include_tag 'application'
  = csrf_meta_tags
%body
  = yield